<a href="https://colab.research.google.com/github/melqsantiago/DataSciencePy/blob/main/Proyect1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
from string import ascii_uppercase as alfabeto #importamos al abecedario en mayusculas
import pickle #diccionario

In [8]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')

In [25]:
todas_tablas [24]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Colombia    3  3  0  0   9   2  +7    9  Advance to knockout stage
1    2       Greece    3  1  1  1   2   4  −2    4  Advance to knockout stage
2    3  Ivory Coast    3  1  0  2   4   5  −1    3                        NaN
3    4        Japan    3  0  1  2   2   6  −4    1                        NaN

In [28]:
todas_tablas[17].columns[1]

'Teamvte'

In [29]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')
for i in range (10,66, 7): #selecciono solo 
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True) #renombro la columna 1, 
    df.pop('Qualification') #Elimina ca colummna 
    print (df)

   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Brazil (H)    3  2  1  0   7   2  +5    7
1    2      Mexico    3  2  1  0   4   1  +3    7
2    3     Croatia    3  1  0  2   6   6   0    3
3    4    Cameroon    3  0  0  3   1   9  −8    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  3  0  0  10   3  +7    9
1    2        Chile    3  2  0  1   5   3  +2    6
2    3        Spain    3  1  0  2   4   7  −3    3
3    4    Australia    3  0  0  3   3   9  −6    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Colombia    3  3  0  0   9   2  +7    9
1    2       Greece    3  1  1  1   2   4  −2    4
2    3  Ivory Coast    3  1  0  2   4   5  −1    3
3    4        Japan    3  0  1  2   2   6  −4    1
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Costa Rica    3  2  1  0   4   1  +3    7
1    2     Uruguay    3  2  0  1   4   4   0    6
2    3       Italy    3  1  0  2   2   3  −1    3
3    4     England    3  0  1  2   2   4  −2    1
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       France    3  2  1  0   8   2  +6    7
1    2  Switzerland    3  2  0  1   7   6  +1    6
2    3      Ecuador    3  1  1  1   3   3   0    4
3    4     Honduras    3  0  0  3   1   8  −7    0
   Pos                    Team  Pld  W  D  L  GF  GA  GD  Pts
0    1               Argentina    3  3  0  0   6   3  +3    9
1    2                 Nigeria    3  1  1  1   3   3   0    4
2    3  Bosnia and Herzegovina    3  1  0  2   4   4   0    3
3    4                    Iran    3  0  1  2   1   4  −3    1
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        Germany    3  2  1  0   7   2  +5    7
1    2  United States    3  1  1  1   4   4   0    4
2    3       Portugal    3  1  1  1   4   7  −3    4
3    4          Ghana    3  0  1  2   4   6  −2    1
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1      Belgium    3  3  0  0   4   1  +3    9
1    2      Algeria    3  1  1  1   6   5  +1    4
2    3       Russia    3  0  2  1   2   3  −1    2
3    4  South Korea    3  0  1  2   3   6  −3    1

In [31]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
for letra, i in zip(alfabeto, range(10,66,7)):
  print (letra, i)

A 10
B 17
C 24
D 31
E 38
F 45
G 52
H 59

In [34]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')
dict_grupos = {}
for letra, i in zip(alfabeto, range(10,66, 7)): #selecciono solo 
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True) #renombro la columna 1, 
    df.pop('Qualification') #Elimina ca colummna 
    dict_grupos[f'Grupo {letra}']=df

   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Brazil (H)    3  2  1  0   7   2  +5    7
1    2      Mexico    3  2  1  0   4   1  +3    7
2    3     Croatia    3  1  0  2   6   6   0    3
3    4    Cameroon    3  0  0  3   1   9  −8    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  3  0  0  10   3  +7    9
1    2        Chile    3  2  0  1   5   3  +2    6
2    3        Spain    3  1  0  2   4   7  −3    3
3    4    Australia    3  0  0  3   3   9  −6    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Colombia    3  3  0  0   9   2  +7    9
1    2       Greece    3  1  1  1   2   4  −2    4
2    3  Ivory Coast    3  1  0  2   4   5  −1    3
3    4        Japan    3  0  1  2   2   6  −4    1
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Costa Rica    3  2  1  0   4   1  +3    7
1    2     Uruguay    3  2  0  1   4   4   0    6
2    3       Italy    3  1  0  2   2   3  −1    3
3    4     England    3  0  1  2   2   4  −2    1
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       France    3  2  1  0   8   2  +6    7
1    2  Switzerland    3  2  0  1   7   6  +1    6
2    3      Ecuador    3  1  1  1   3   3   0    4
3    4     Honduras    3  0  0  3   1   8  −7    0
   Pos                    Team  Pld  W  D  L  GF  GA  GD  Pts
0    1               Argentina    3  3  0  0   6   3  +3    9
1    2                 Nigeria    3  1  1  1   3   3   0    4
2    3  Bosnia and Herzegovina    3  1  0  2   4   4   0    3
3    4                    Iran    3  0  1  2   1   4  −3    1
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        Germany    3  2  1  0   7   2  +5    7
1    2  United States    3  1  1  1   4   4   0    4
2    3       Portugal    3  1  1  1   4   7  −3    4
3    4          Ghana    3  0  1  2   4   6  −2    1
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1      Belgium    3  3  0  0   4   1  +3    9
1    2      Algeria    3  1  1  1   6   5  +1    4
2    3       Russia    3  0  2  1   2   3  −1    2
3    4  South Korea    3  0  1  2   3   6  −3    1

In [36]:
dict_grupos['Grupo H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1      Belgium    3  3  0  0   4   1  +3    9
1    2      Algeria    3  1  1  1   6   5  +1    4
2    3       Russia    3  0  2  1   2   3  −1    2
3    4  South Korea    3  0  1  2   3   6  −3    1